html
	min-height 100%
	width 100%
	height 100%
	&.auto
		height auto

body
	color body-color
	cf()
	min-height 100%
	&.auto
		height auto

.contain
	padding-bottom .2em

.header
	padding 3.2em 0 1.4rem 0
	border-bottom 1px solid border-gray
	& > *
		vertical-align top
		display inline-block
	.head
		h6
			color body-light
.options
	float right
	.dropdown
		&:hover, &.open
			i
				color body-color
	.toggle
		line-height 5.5em
		i
			relative top -.5em
			color body-light
			margin-left .4em
		img
			height 2.1em
			border-radius 50%

.sub
	padding 0 0 .8em 0
	font-size 1.1em

.nodata
	span(1/1)
	text-align center
	opacity .6
	padding 2.6em 0
	font-size 1.2em

.sparkline
	width 100%
	height 7em
	.highcharts-label.highcharts-no-data
		top 27px !important
		span
			font-weight 300
			opacity .7
			font-size 1.2em

#keys
	span(1/1)
	padding 2rem 0
	.key
		display block
		span(1/1)
		padding 1.2em 1.8em
		border 1px solid border-gray
		border-radius border-radius-normal
		&:hover
			border-color primary-color
		h6
			display block
			color body-dark
		.float-left, span
			display inline-block
			vertical-align middle
		span
			relative top .62em
			float right
			i
				margin-left 1em
		small
			display block
			color body-light
			margin-top .4em
		& + .key
			margin-top .8em

#key_info
	padding 1.4rem 0
	border-bottom 1px solid border-gray
	.info
		display inline-block
		vertical-align top
		color body-light
		i
			font-size 1.4em
			color body-light
			cursor pointer
			relative top -2px
			&:hover
				color body-dark
		span
			color body-dark
		& + .info
			margin-left 1.4em

#trackers
	padding 2rem 0
	.graph
		width 100%
		height 15em
		background-color #fff
		margin-bottom 2em
		position relative
		border-radius border-radius-normal
		color #fff
		overflow hidden
		.sparkline
			absolute bottom 0
		p
			opacity .7
		.stats
			padding 1.4em 2em 1.2em 2em
			border-bottom 1px solid rgba(255, 255, 255, 0.2)
		.sum
			vertical-align top
			display inline-block
		.current
			vertical-align top
			display inline-block
		span
			display inline-block
			float right
			relative top 1.9em
			.increase
				text-align right
				display block
			small
				display block
				margin-top .4em
				opacity .6
			i
				opacity .8
				margin-left .2em
		&_clicks
			background-color #E4495C
		&_hits
			background-color #9F89FC
	ul li
		border 1px solid border-gray
		border-top 0
		padding .8rem
		color body-light
		&.header
			h5
				font-size 1.32em
				display inline-block
				vertical-align top
				color body-color
			.search
				float right
				cursor pointer
				i
					font-size 1.32em
					color lighten(primary-color, 40%)
					&:hover
						color primary-color
				& > *
					display inline-block
					vertical-align top
				.filter
					font-size 1em
					padding-left .4em
					line-height 1.32em
					color primary-color
					&:empty:before
						content 'Filter...'
		span
			float right
			color body-color
		&:first-of-type
			border-top 1px solid border-gray
			border-radius border-radius-normal border-radius-normal 0 0

#create
	padding 2em 0


#account
	padding 2rem 0
	.details, .profile_image
		display inline-block
		vertical-align top
	.profile_image
		float right
		padding 3em 4em
		background-color light-color-smoke
		a
			display block
			margin-top 1.4em
			color body-color
			&:hover
				color body-dark
		img
			height 10em
			border-radius 50%

.empty
	background-color light-color-smoke
	text-align center
	color body-dark
	padding 6em

footer.footer
	padding 1.4rem 0
	border-top 1px solid border-gray
	ul
		li
			display inline-block
			vertical-align top
			& + li
				margin-left 1.6em
			a
				color body-light
				span
					color body-dark

.signal
	span
		cursor default !important
		color color-red !important
		&:before
			content 'Disconnected'
		&.connected
			color color-green !important
			&:before
				content 'Connected'

.flash
	animation-name flash
	animation-duration 1s

@keyframes flash
	0%, 50%, 100%
		background-color #fff
	25%, 75%
		background-color rgba(#FAF1C4,.4)
