.breakpoint-
	&xs-hide
		+below('xs')
			display none
	&s-hide
		+below('s')
			display none
	&m-hide
		+below('m')
			display none
	&s-center
		+below('s')
			text-align center !important
	&l-hide
		+below('l')
			display none
	&xl-hide
		+below('xl')
			display none
	&hd-hide
		+below('hd')
			display none
	&xs-show
		+below('xs')
			display block !important
	&s-show
		+below('s')
			display block !important
	&m-show
		+below('m')
			display block !important
	&l-show
		+below('l')
			display block !important
	&xl-show
		+below('xl')
			display block !important
	&hd-show
		+below('hd')
			display block !important
	&xs-stack
		+below('xs')
			stack()
			margin 0 !important
		&able > *
			+below('xs')
				stack()
				margin 0 !important
	&s-stack
		+below('s')
			stack()
			margin 0 !important
		&able > *
			+below('s')
				stack()
				margin 0 !important
	&m-stack
		+below('m')
			stack()
			margin 0 !important
		&able > *
			+below('m')
				stack()
				margin 0 !important
	&l-stack
		+below('l')
			stack()
			margin 0 !important
		&able > *
			+below('l')
				stack()
				margin 0 !important
	&xl-stack
		+below('xl')
			stack()
			margin 0 !important
		&able > *
			+below('xl')
				stack()
				margin 0 !important
	&hd-stack
		+below('hd')
			stack()
			margin 0 !important
		&able > *
			+below('hd')
				stack()
				margin 0 !important
