code
	background-color light-color-smoke
	color body-color
	padding 1em 1.4em
	border-radius border-radius-normal
	font-family font-family-code
	line-height 1.6em
	font-size .875em
	width 100%
	display block

pre
	margin-top .7em
	& + p
		margin-top .7em

p
	code
		padding .3em .5em
		display inline-block
		width auto

.message
	code
		background-color rgba(0,0,0,.06)
