.hero
	p
		color #546878

.tab-pane
	h2
		color primary-white
		font-weight 700
		font-size 1.1em

.button
	font-weight 400

input
	border 0 !important
	background-color darken(bg-grey, 20%) !important
	color body-color !important
	transition all .3s ease
	&:focus
		background-color primary-white !important
		color dark-color !important

.setting
	+ .setting
		margin-top 1.2em

.select
	box-shadow inset 0 0 0 2px lighten(bg-grey, 10%)
	height 1.14em
	width 1.14em
	border-radius 3px
	relative top 4px
	margin-right .5em
	content ' '
	display inline-block
	overflow hidden
	cursor pointer
	transition all 0.3s
	&.selected
		box-shadow inset 0 0 0 20px color-green
		&:after
			background url('../img/tick.png') center center no-repeat
			background-size 100%
			width 100%
			height 100%
			display block
			content ''
	& + input
		display none

small.help-block
	display block
	margin 1em 0

.divider
	border-color lighten(bg-grey, 4%) !important

.explanation
	h3
		color primary-white
		font-size 1.6em
		font-weight 100
		margin 0 0 1.4em 0

.media
	border-bottom 1px solid lighten(bg-grey, 10%)
	cf()
	padding-bottom .8em !important
	margin 0 0 1em 0
	a
		color primary-white
		font-size 1.2em
		font-weight 300
		i
			margin-right .2em

label.s-3
	color #E4E5E6
	font-weight 300

.profile
	opacity 1 !important
	position absolute !important
	bottom .8em
	.caret
		absolute right bottom .8em
		opacity .4
	&:hover
		.caret
			opacity 1
	.avatar
		width 1.8em
		height 1.8em
		border-radius 50em
		display inline-block
		vertical-align top
	.account
		display inline-block
		vertical-align top
		h6
			color body-light
			font-size .875em
			line-height .875em
			width 8em
			overflow ellipsis
		span
			font-size 0.74em
			width 8em
			overflow ellipsis
			display block

.sidebar
	width 6em
	&-inner
		width 4.3em
		height 100%
		position fixed
		z-index 2000
		padding 3.8em 1.4em 0 1.4em
		background-color nav-grey
	li
		text-align center
		&.active
			&:after
				absolute top 0 right -1.48em
				height 100%
				width 2px
				content ' '
				background-color primary-color
		a
			i
				font-size 1.6em
				margin .4em 0
				text-align center

.inner
	span(1/1)
	padding 4.9em 0
	position relative

.data
	margin 0 2em 0 6.3em

.segment
	padding 1em 0
	cf()

.page
	span(1/1)

.status-bar
	span(1/1)
	display block
	fixed top left
	background-color darken(bg-grey, 20%)
	height 2.8em
	z-index 3000
	content ' '
	.options
		margin-left 1.4em
	.option
		line-height 1.4em
		cursor pointer
		height .86em
		width .86em
		margin 1em 0
		background-color #DEDEDE
		border-radius 50%
		content ' '
		display inline-block
		opacity .6
		&:hover
			opacity 1
		&.close
			background-color #FC615C !important
		&.minimise
			background-color #FDBC40 !important
		&.expand
			background-color #34C849 !important
		& + .option
			margin-left .3em

.links
	& > .item
		a
			color body-color !important
		&.active
			a
				color primary-white !important

.grid
	&--item
		height 300px
		overflow hidden
		img
			width 100%
			height auto

kbd
	color primary-white
	background-color darken(bg-grey, 30%)
	box-shadow 0 0 0 1px darken(bg-grey, 10%)
	padding .4em .6em
	border-radius 3px
	font-weight 400
	display inline
