section.module
	padding 6em 0
	position relative
	.low
		height 2em
		margin-top -1.2em
	&.o_h
		overflow hidden
	#trackers
		padding 0 !important
		box-shadow 0 8px 16px rgba(0, 0, 0, .08), 0 2px 6px rgba(0, 0, 0, .04)
		#devices
			background-color #fff
	.grid-row:not(.types)
		margin 0 -3em
		& > *
			padding 0 3em
			vertical-align middle
	.types
		margin-top 6em
		i
			width 1.8rem
			height 1.8rem
			line-height 1.9rem
			text-align center
			border-radius 50%
			color #fff
			font-size 1rem
			display inline-block
			margin-right .4rem
		p
			font-size 1rem
	h4, .types h5
		color body-dark
		line-height 1.9em
		i
			margin-right .4em
		a
			i
				margin-left .4em
				relative top 1px
	p
		color body-light
		line-height 1.8em
		font-size 1.2em
		font-weight 300
		& + h4
			margin-top 1.6em
	&.hasimg
		padding 6em 0
	&.hero
		padding 13em 0 12em 0
		text-align center
		background-color #0e1320
		h2
			color #fff
			line-height 1.4em
			margin-bottom .3em
		h6
			color body-light
			line-height 1.7em
		.button-group
			margin-top 2.5em
			small
				display block
				margin-top 1.7em
				color lighten(body-color, 10%)
			a.button
				padding 0 6em
				i
					margin-right .3em
				& + a.button
					margin-left 1em
	&.page
		background-color color-primary
		text-align center
		padding 6em 0 6em 0
		margin-bottom 2em
		h3
			color #fff
		h6
			color color-primary-text
			margin-top 1em
	.heroimg
		height 2em
		text-align center
		img
			border-radius 8px
			box-shadow 0 8px 16px rgba(0, 0, 0, .08), 0 2px 6px rgba(0, 0, 0, .04)
			relative top -8.4em
			max-width 90%
			pointer-events none
			& + img
				top -11em
				max-width 100%
	&.bg
		background-color light-color-smoke

section.step
	position relative
	padding 4em 0
	&.final
		text-align center
		margin-top 2em
		background-color light-color-smoke
		padding 6em 0
		i
			font-size 2.8em
			display block
			margin-bottom 1.4rem
	h5
		margin-bottom 1.1em
		span
			width 1.9rem
			height 1.9rem
			line-height 1.9rem
			text-align center
			border-radius 50%
			background-color color-primary
			color #fff
			font-size 1rem
			display inline-block
			margin-right .4rem
	p
		color body-light
	.gs_key
		text-align center
		margin-top 2em
		img
			max-width 100%
			height auto
			width 63%
			min-width 30em

header.nav
	width 100%
	padding 1em 3em
	background-color #0e1320
	.logo
		display inline-block
		vertical-align top
		relative top 3px
		img
			height 1.8em

.docnav
	position fixed
	width 202px
	height 100%
	padding 7em 0
	overflow visible
	overflow-y scroll
	overflow-x visible
	z-index 1

.docnav::-webkit-scrollbar
	display none
	width 0

#docs
	fixed top left
	width 100%
	padding 1em 3em
	background rgba(251, 252, 253, .7)
	-webkit-backdrop-filter blur(30px)
	backdrop-filter blur(30px)
	z-index 4000
	border-bottom 1px solid border-gray
	.logo
		display inline-block
		vertical-align top
		relative top 3px
		img
			height 1.8em

.docs
	margin-left 202px
	border-left 1px solid border-gray
	position relative
	padding 7em 0 7em 4em
	.resources
		margin-top 3.4em
	.desc
		p
			padding-left 4rem
		h5
			padding-left 4rem
			position relative
			&:before
				font-family 'Ionicons'
				font-size 1em
				absolute left 0 top .44em
				width 2.3em
				height 2.3em
				line-height 2.3em
				color #fff
				border-radius 50%
				text-align center
				vertical-align top
				display inline-block
		&.gt h5:before
			content '\f279'
			background-color lighten(color-blue, 20%)
		&.hs h5:before
			content '\f27c'
			background-color lighten(color-red, 20%)
		&.ss h5:before
			content '\f3cd'
			background-color lighten(color-green, 10%)

	.doc, .desc
		padding-top 1em
		#trackers
			padding 1rem 0 0 0
		& > h4
			line-height 1.9em
			color body-dark
		& > h5
			line-height 1.9em
			margin-top 1.4em
		& > p
			color body-light
			line-height 1.7em
			font-size 1.2em
			font-weight 300
			i
				margin 0 .2em
			& + p
				margin-top .7em
		img
			width 80%
			max-width 100%
			margin-top .7em

#doc-menu
	li
		&.header
			font-size 1.2em
			border 0
			padding 1.6em 0 .4em 0
			color body-dark
		&.item
			padding .4em 0
			p
				line-height 1em
				color lighten(body-light, 40%) !important
			a
				font-size 1em
				color body-light
				line-height 1em
				position relative
				&:hover
					color primary-color
		&.active
			a
				color primary-color
				padding-left .6em
				&:before
					display block
					absolute left 0 top 0
					content ' '
					width 1px
					height 100%
					background-color primary-color
					opacity 1
					z-index 1
