section.module
	padding 7em 0
	position relative
	overflow-x hidden
	h3
		margin-bottom .7rem
	h4
		color body-dark
		line-height 1.34em
		margin-bottom .5rem
		i
			margin-right .4em
		a
			i
				margin-left .4em
				relative top 2px
	p
		color body-light
		font-size font-size-hero
		& + h4
			margin-top 1.6em
	&.hero
		padding 14em 0 12em 0
		.infochart
			text-align center
			img
				max-width 80%
		h1
			color body-dark
			line-height 1.34em
			margin-bottom .3em
			font-weight 600
		h5
			color body-light
			line-height 1.5em
			font-weight 400
		.button-group
			margin-top 2.5em
			small
				display block
				margin-top 1.7em
				color lighten(body-light, 20%)
			a.button
				padding 0 6em
				i
					margin-left .4em
					relative top 1px
					color color-primary-text
	.contain > h5
		margin-top .5rem
	.low
		height 2em
		margin-top -1.2em
		+below('s')
			margin-top 3em
			height auto
	&.o_h
		overflow hidden
		border-top 1px solid border-gray
		border-bottom 1px solid border-gray
	#trackers
		padding 0 !important
		box-shadow 0 8px 16px rgba(0, 0, 0, .08), 0 2px 6px rgba(0, 0, 0, .04)
		#devices
			background-color #fff
	.grid-row:not(.types)
		margin 0 -3em
		& > *
			padding 0 3em
			vertical-align middle
	&.types
		.type
			margin-top 3em
		.text-center
			margin-bottom 5em
		&.bg-grad
			.xs-12 + .xs-12
				+below('s')
					margin-top 3rem
			h3
				color #fff
			h5
				margin-bottom .5rem
				line-height 1.34em
				color #fff !important
			p
				color color-primary-text
			i
				color lighten(color-primary, 70%)
				width 1.8rem
				height 1.8rem
				margin-right .2rem
				relative top 1px
				display inline-block
				text-align center
	&.gradient
		background linear-gradient(60deg, color-primary, #FD8788)
		text-align center
		padding 8em 0 6em 0
		margin-bottom 2em
		h2
			color #fff
		h5
			color color-primary-text
	&.bg-grad
		background linear-gradient(60deg, color-primary, #FD8788)
	&.pricing
		text-align center
		padding 8em 0 12em 0
		margin-bottom 2em
		background url('/images/plans.png')
		background-size cover
		h5
			color body-light
	&.status
		margin-top -12em
		padding-bottom 3em
	&.bg
		background-color light-color-smoke

section.step
	position relative
	padding 4em 0
	&.final
		text-align center
		margin-top 2em
		background-color light-color-smoke
		padding 6em 0
		i
			font-size 2.8em
			display block
			margin-bottom 1.4rem
	h4
		margin-bottom .8rem
		span
			width 1.9rem
			height 1.9rem
			line-height 1.9rem
			text-align center
			border-radius 50%
			background-color color-primary
			color #fff
			font-size 1rem
			display inline-block
			margin-right .5rem
			vertical-align text-top
	p
		color body-light
	.gs_key
		text-align center
		margin-top 2em
		img
			max-width 100%
			height auto
			width 63%
			min-width 30em

header.nav
	width 100%
	padding 1em 0
	absolute top left
	z-index 3000
	.d
		display none
	&.nav-up
		top -63px
	&.fx
		display none
		fixed top left
		background-color #fff
		box-shadow: 0 1px 2px 0 rgba(33,44,61,.15)
		.l
			display none
		.d
			display block
		.options
			& > a, .toggle
				color body-light
	.logo
		display inline-block
		vertical-align top
		relative top 3px
		img
			height 1.8em

.docnav
	position fixed
	width 202px
	height 100%
	padding 6.2em 0
	overflow visible
	overflow-y scroll
	overflow-x visible
	z-index 1

.docnav::-webkit-scrollbar
	display none
	width 0

#docs
	fixed top left
	width 100%
	padding 1em 0
	background rgba(251, 252, 253, .7)
	-webkit-backdrop-filter blur(30px)
	backdrop-filter blur(30px)
	z-index 4000
	border-bottom 1px solid border-gray

	.logo
		display inline-block
		vertical-align top
		relative top 3px
		img
			height 1.8em

.docs
	margin-left 202px
	border-left 1px solid border-gray
	position relative
	padding 7em 0 7em 4em
	+below('s')
		margin-left auto
		border-left 0
		padding 7em 0
	.resources
		margin-top 3.4em
	.desc
		p
			padding-left 4.6rem
		h5
			padding-left 4.6rem
			position relative
			&:before
				absolute left top
				background url('/images/icons.png') no-repeat
				background-size 3em
				width 2.9em
				height 2.9em
				vertical-align top
				display inline-block
				content ''
		&.gt
			margin-top -1em
			h5:before
				background-position 0 4px
		&.hs h5:before
			background-position 0 -236px
		&.ss h5:before
			background-position 0 -412px

	.doc, .desc
		padding-top 1em
		#trackers
			padding 1rem 0 0 0
		& > h3
			color body-dark
			margin-bottom .8rem
		& > h4
			color body-dark
			margin-bottom 1rem
		& > h5
			margin 2rem 0 .5rem 0
		& > p
			color body-light
			i
				margin 0 .2em
			& + p
				margin-top .8em
		img
			width 80%
			max-width 100%
			margin-top .7em

#doc-menu
	li
		&.header
			font-size 1.2em
			border 0
			padding 1.6em 0 .4em 0
			color body-dark
			p
				font-weight 600
		&.item
			padding .4em 0
			p
				line-height 1em
				color lighten(body-light, 40%) !important
			a
				font-size 1em
				color body-light
				line-height 1em
				position relative
				&:hover
					color primary-color
		&.active
			a
				color primary-color
				padding-left .6em
				&:before
					display block
					absolute left 0 top 0
					content ' '
					width 1px
					height 100%
					background-color primary-color
					opacity 1
					z-index 1

.plans
	margin-top -16em
	padding 7em 0 0 0 !important

.plan
	width 33.3333333%
	display inline-block
	vertical-align top
	clear none
	text-align center
	border 1px solid border-gray
	background-color #fff
	position relative
	.head
		padding 3em 2em 2em 2em
		h3
			line-height 1.6em
			font-weight 600
			span
				font-size .6em
				font-weight 400
				color body-light
		h6
			font-size 1em
			margin-bottom .4em
			font-weight 600
	&.free
		border-radius border-radius-normal 0 0 border-radius-normal
		border-right 0
	&.expert
		border-radius 0 0 0 border-radius-normal
		border-right 0
	&.company
		border-radius 0 border-radius-normal border-radius-normal border-radius-normal
	.list
		p
			padding .4em 2em
			color body-color
			font-size 1em
	.actions
		padding 2em
		p
			height em-height
			line-height em-height
			width 100%
			background-color light-color-smoke
			font-size 1em
			font-weight 500
	&:before, &:after
		display table
		content ''
	&:after
		clear both

.pre-footer
	p
		padding-left 6rem
		font-size 1rem !important
	h5
		padding-left 6rem
		position relative
		line-height 1.34em
		margin-bottom .5rem
		&:before
			absolute left -1.1rem top
			background url('/images/icons.png') no-repeat
			background-size 4.6em
			width 4.4em
			height 4.4em
			vertical-align top
			display inline-block
			content ''
	.pf_gt h5:before
		background-position 0 4px
	.pf_ed h5:before
		background-position 0 -90px
	.xs-12 + .xs-12
		border-left 1px solid border-gray
		+below('s')
			border-left 0
			margin-top 3rem
	i
		margin-left .3em
		relative top 1px
.plan-info
	.grid-row
		text-align center
		h5
			line-height 1.34em
			margin-bottom .5rem
			padding-top 2.2em
			&:before
				relative top -1.6em
				background url('/images/icons.png') no-repeat
				background-size 5.6em
				width 5.4em
				height 5.4em
				text-align center
				display block
				margin 0 auto
				content ''
		.pf_po h5:before
			background-position 0 -762px
		.pf_bd h5:before
			background-position 0 -655px
		.pf_ls h5:before
			background-position 0 -210px
