.nav
	cf()
	.dropdown
		.menu
			width auto
		.input input
			width 20em
			min-width 20em
			background-color light-color-smoke
			height 2.2em
			padding 1em .8em
			margin-top .6em
			border-radius border-radius-normal
			color body-color
	.item
		padding 0 !important
	.time
		float right
		padding 1.2em 0 !important
	.options
		margin-left .4em
		a + a
			margin-left 2em
		& > a, .toggle
			display inline-block
			vertical-align top
			cursor pointer
			color lighten(body-color, 35%)
			position relative
			line-height 1.74em
			i
				color body-color
				font-size 1.8em
			&:hover
				color #fff
				i
					color primary-color
	&.primary
		.options
			& > a
				color color-primary-text
				&:hover
					color #fff
