.modal.log_sign
	.overlay
		a.close(data-modal)
			i.ion-ios-close-empty
		.box#in
			.box-body
				h5 Hello there, welcome back.
				p Sign in with a service below, you won't be needing an account.
			.box-footer
				.buttons
					a.button.twitter.block(href="/auth/login/twitter", data-track="Twitter Sign In") #[i.ion-social-twitter] Sign in with Twitter
					a.button.block(href="/auth/login/github", data-track="Github Sign In") #[i.ion-social-github] Sign in with Github
