head
	title= title
	block head
	script(src='//code.jquery.com/jquery.js')
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
	link(rel="stylesheet", href="/css/blossom.css")
	script(src="/js/pace.js")
	script(src="https://use.typekit.net/hss6qnf.js")
	script.
		try{Typekit.load()}catch(e){}
body
	block content
