head
	block vars
	block head
	script(src='//code.jquery.com/jquery.js')
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
	link(rel="stylesheet", type="text/css", href="//fast.fonts.net/cssapi/2dc1fe03-ff13-4dc6-8e5f-d2b0fc3de8cc.css")
	link(rel="stylesheet", href="/css/blossom.css")
	title= title
	script(src="/js/pace.js")
body
	block content
