script(src='/js/blossom.js')
script(src='//code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js')
footer.footer.noborder
	.contain
		ul
			li #[a(href="/getting-started") Getting Started]
			li #[a(href="/docs") Docs]
			li #[a(href="/status") Status]
			li #[a(href="http://m.me/cindr.io", rel="noopener noreferrer") Support]
			li.float-right #[p Copyright &copy; 2016 #[a(href="http://cindr.io") cindr.io]]
