.options.mobile.breakpoint-s-show
	a.mobilenav #[i.ion-navicon]
.options.desktop.breakpoint-s-hide
	a(href="/getting-started") Getting Started
	a(href="/docs") Docs
	a(href="/pricing") Pricing
	a.login(data-modal="in") Sign in
