script(src='/js/blossom.js')
script(src='//code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js')
footer.footer.noborder
	.contain
		ul
			li #[a(href="http://mansson.io") Contact]
			li #[a Support]
			li.float-right #[p Copyright &copy; 2016 #[a(href="http://cindr.io") cindr.io]]
