.modal
  .overlay
    a.close(data-modal)
      i(data-feather="x")
    .box
      .box-body
        h5 Are you sure you want to delete?
        p #[b.text-red Warning: ] This will permanently delete all analytics and data associated with this application.
      .box-footer
        .buttons.float-right.simple
          a.cancel(data-modal) Cancel
          a.d_key(data-modal, data-type="delete") Delete
