.modal
	.overlay
		.box
			.box-body
				h5 Are you sure you want to delete?
			.box-footer
				.buttons.float-right.simple
					a.cancel(data-modal) Cancel
					a.d_key(data-modal, data-type="delete") Delete
