section.header
	.head
		h6=sub
		h3
			if status
				i.ion-ios-circle-filled.signal
			| #{maintitle}
	.options
		.dropdown.right.floating
			a.toggle #[img(src=user.avatarUrl)] #[i.ion-arrow-down-b]
			ul.menu
				li.info=user.name
				li #[a(href="/create/key") Create key]
				li #[a(href="/keys/all") All keys]
				li #[a(href="/account") Your account]
				li.divider
				li.logout #[a(href="/auth/logout", data-track="Sign Out") Sign out]
