doctype html
html(lang="en", class=typeof gradient === "undefined" ? "" : "auto")
	include ./static/header.pug

	block content

	script(src='/js/trackful.js')

	if (!nofooter)
		include ./static/footer.pug
