doctype html
html(lang="en", class=typeof gradient === "undefined" ? "" : "auto")
	include ./static/header.pug

	block content

	if env == 'development'
		script(src='/js/trackful_dev.js')
	else
		script(src='/js/trackful.js')

	if (!nofooter)
		include ./static/footer.pug
