doctype html
html(lang="en", class=typeof gradient === "undefined" ? "" : "auto")
  include ./static/header.pug

  if env == 'development'
    script(src='/js/trackful_dev.js')
  else
    script(src='/js/trackful.js')
