extends ../layout

block content
  .error
    p
  section#create
    .row
      .equal
        .input
          label Application name
          small Give a reference name to your project key
          input#appname(type="text", placeholder="e.g Development server")
        .input
          label Domain name
          small The domain the tracker will validate requests from
          input#domain(type="text", placeholder="e.g http://localhost:3000")
        .input
          a.button.in-input.primary.create(data-track="Create Key") Create project key
