extends ../layout

block content
	- var maintitle = "Create application"
	- var sub = "Applications"
	.contain
		include ../static/nav.pug
		.error
			p
		section#create
			.grid-row
				.xs-12.m-6
					.input
						label Application name
						small The name of the application the new key will refer to
						input#appname(type="text")
					.input
						label Domain name
						small The domain the tracker will keep track of (#[span.text-dark e.g http://localhost:3000])
						input#domain(type="text")
					.input
						a.button.in-input.primary.create Create key
				.xs-12.m-6.info
					h5.text-dark New application key
					p Creating a new application is easy. Enter a valid name for your new application, such as #[span.text-dark Trackful analytics], and the full domain name of the website you want to track. Of course, you will have to have access to the websites source to initialise the #[a(href="/getting-started") Trackful plugin].
					p For the domain name, you'll need to enter the full URL to make sure it's parsed correctly. As an example #[span.text-dark http://yourdomain.io] would be valid but #[span.text-dark yourdomain.io] would not be.
