extends ../layout

block content
	-var renderfooter = true
	-var subpage = true
	nav#docs.nav.dark
		.contain
			a.logo(href="/")
				img(src="/images/logo_dark.png")
			include ../static/homenav.pug
	.contain
		nav.docnav.breakpoint-s-hide
			include ../static/docsnav.pug
		.docs
			.doc#welcome
				h3 Trackful Documentation
				p Trackful is a simple but powerful web platform analytics tool aimed for beginner to expert developers looking to explore how their users use the site and gather more information about the customers.
				p Use these docs as a guideline to navigate and manage your way through from setup to analysing your collected data.
				.resources
					h4 Additional Resources
					.desc.gt
						h5 Getting started
						p Follow the step the step #[a(href="/getting-started") getting started] guide to get up and running, or start with the #[a(href="#setup") setup] guide.
					.desc.hs
						h5 Help &amp; Support
						p Need help? If you have a technical issue feel free to open an issue on the #[a(href="/issues") issues] page or feel free to #[a(href="http://m.me/cindr.io") contact] us for any other problems.
					.desc.ss
						h5 System Status
						p If you want to check the current health of the system, or if there are any interruptions, check out the #[a(href="/status") status page].
				.divider
			.doc#setup
				h4 Setup
				p Follow the below steps to get up and running with TrackfulJS on the client side.

				h5 Installation
				pre
					code &lt;script src=&quot;/path/to/trackful.min.js&quot;&gt;&lt;/script&gt;
				p Get the #[a(href="/download", target="_blank", data-track="Download - Docs") latest version] of Trackful.min.js and include it in just before the #[code &lt;/body&gt;] tag of your HTML markup. Include Trackful.min.js on each page you want to track.

				h5 Create your application key
				p #[a(data-modal="in") Log in] and navigate to #[span.text-dark /create/key] to create a #[a(href="/create/key") new key]. Insert an appropriate name and the full URL of your website, make sure you include the protocol (e.g http/https) and port if you're using one. When all is validated you'll be redirected to your application overview.
				br
				p The key can be found in the web address of the page #[code /key/{your_key}] or in the info bar of the dashboard:
				.gs_key
					img(src="/images/get_started-key.png")

				h5 Initialisation
				pre
					code window.TRACKFUL_KEY = "ByJTiOWHx"
				p Copy the key from step 2 and declare it as a global variable on the #[code window] object just before Trackful.min.js is called.
				.divider
			.doc#creating
				h4 Creating a key
				p To create a new application key, simply navigate to #[a(href="/create/key") /create/key]. On this page you are prompted with two fields.

				h5 Application name
				p This is the name of the application you are creating. You are advised to name it something unique that you can refer back to and find easily in your keys list within your account.

				h5 Domain name
				p This is the domain URL of the website you are going to start tracking. The address you enter here has to be in its full state, including the protocol and port (if a non-default one is used).
				p To cross validate that a key is being used on its own domain, the hostname of the client URL is checked with the one on the application key. You can try some tests if curious using the #[a(href="https://developer.mozilla.org/en-US/docs/Web/API/URL", rel="noopener noreferrer") URL API].
				p e.g #[span.text-dark http://localhost:3000] would be valid opposed to #[span.text-dark localhost:3000]
				.divider
			.doc#editing
				h4 Editing a key
				p.text-lightest Editing a key is not yet available, scheduled to be released in #[b.text-yellow 1.0.2].
				.divider
			.doc#deleting
				h4 Deleting a key
				p To delete a key, visit the application page and find the #[i.ion-ios-trash-outline.text-dark] icon within the information bar. Once you click on it you'll be promted with a confirmation modal. If you are sure you'd like to delete the key, press #[b.text-dark Delete], found in the footer of the modal; otherwise close the modal.
				p.text-red #[b Warning: ] This will delete all analytics associated with the application key and all statistics pulled from the hourly chart data store.
				.divider
			.doc#overview
				h4 Application Overview
				p Once Trackful.min.js is initialised on a page, any client that connects and visits that page counts towards the total #[span.text-dark page hits]. More data about that specific user is analysed such as the #[span.text-dark device type] and #[span.text-dark country] of origin.
				p If a user then clicks on any HTML elements that are initialised, those click statistics are also sent to Trackful and grouped according to their #[a data-track] attribute.
				p All statistics sent to Trackful are displayed in realtime as long as the status on your application key dashboard is #[b.text-green connected].
				.divider
			.doc#analytics
				h4 Analytics
				p On an hourly basis, the sum of clicks and page hits are collected for each key. When the data is successfully collected the charts on the application key dashboard are updated. This will happen in realtime if you're on the page at the time.
				p On each chart, there is a percentage increase section. This shows the percentage increase in the total of clicks and page hits from the last hourly collection against the current totals.
				.divider
			.doc#activity
				h4 Activity
				p When on a key dashboard you can tap the #[i.text-dark.ion-android-notifications-none] icon; this will bring you to the activity page of the key you were viewing.
				p On the activity page you can see the latest activity happening on all pages you have your tracking enabled on. The activity feed will include what clicks have been made and user data, consisting of country of origin and device type, visiting a specific page.
				.divider
			.doc#filtering
				h4 Filtering Data
				p On each statistics module on the application key dashboard, you can search through and filter the data using the #[i.text-dark.ion-ios-search-strong] icon in the top right corner. You can filter each row by searching for the attribute name, or by the statistics number.
				p Try it out below on the devices module:
				#trackers
					ul#devices
						li.header #[h5 Devices #[span &nbsp;/ page hit]]
							div.search #[i.ion-ios-search-strong] #[.filter.forcehidden(contenteditable="true")]
						li desktop/Other #[span 234]
						li phone/iPhone #[span 181]
						li phone/iPod #[span 48]
						li tablet/iPad #[span 143]
			.divider
			.doc#exporting
				h4 Exporting Data
				p.text-lightest Exporting data is not yet available, scheduled to be released in #[b.text-yellow 1.0.3] as a perk along with the introduction of premium plans.

	include ../static/authmodal.pug
	script(src='/js/scrollspy.js')
	script(src='/js/app.js')
	script.
		let opt = {}
