extends ../layout

block content
	-var renderfooter = true
	-var subpage = true
	include ../static/homenav.pug
	section.module.page
		.contain
			h3 Getting started with Watch
			h6 Start tracking your users' actions. It's never too late for gathering crucial analytics.
	section.module.step
		.contain
			.grid-row
				.xs-12
					h5 #[span 1] Installation
				.xs-12.m-6
					pre
						code &lt;script&gt;&lt;/script&gt;
				.xs-12.m-6
					p Get the #[a latest version] of WatchJS and include it in your website.
	section.module.step
		.contain
			.grid-row
				.xs-12
					h5 #[span 2] Create your application key
	section.module.step
		.contain
			.grid-row
				.xs-12
					h5 #[span 3] Initialise Watch
	script(src='/js/app.js')
	script.
		let opt = {}
	include ../static/homefooter.pug
