extends ../layout

block content
	-var renderfooter = true
	-var subpage = true
	include ../static/homenav.pug
	section.module.page
		.contain
			h3 Getting started with Watch
			h6 Start tracking your users' actions. It's never too late for gathering crucial analytics.
	section.module.step
		.contain
			.grid-row
				.xs-12
					h5 #[span 1] Installation
				.xs-12.m-6
					pre
						code &lt;script src=&quot;/path/to/watch.js&quot;&gt;&lt;/script&gt;
				.xs-12.m-6
					p Get the #[a latest version] of Watch.js and include it in just before the #[code &lt;/body&gt;] tag of your HTML markup. Include Watch.js on each page you want to track.
	section.module.step
		.contain
			.grid-row
				.xs-12
					h5 #[span 2] Create your application key
				.xs-12
					p #[a(data-modal="in") Log in] or #[a(data-modal="up") create your account] and head over and create a #[a(href="/create/key") new key]. Insert an appropriate name and the full URL of your website, make sure you include the protocol (e.g http/https) and port if you're using one. When all is validated you'll be redirected to your application overview.
					br
					p The key can be found in the web address of the page #[code /key/{your_key}] or in the info bar of the dashboard:
					.gs_key
						img(src="/images/get_started-key.png")
	section.module.step
		.contain
			.grid-row
				.xs-12
					h5 #[span 3] Initialise Watch
				.xs-12.m-6
					pre
						code window.WATCH_KEY = "r1drzOF4l"
				.xs-12.m-6
					p Copy the key from step 2 and declare it as a global variable on the #[code window] object just before Watch.js is called.
	section.module.step.final
		.contain
			.grid-row
				.xs-12
					i.ion-ios-checkmark.text-green
					h5 That's it. You're all set up!
					p You can now continue with the keys' dashboard to view realtime tracking, check out the #[a Docs] if you need any help.
	include ../static/authmodal.pug
	script(src='/js/app.js')
	script.
		let opt = {}
	include ../static/homefooter.pug
