extends ../layout

block content
	-var renderfooter = true
	-var subpage = true
	header.nav.light
		.contain
			a.logo(href="/")
				img.l(src="/images/logo_white.png")
				img.d(src="/images/logo_dark.png")
			include ../static/homenav.pug
	section.module.gradient
		.contain
			h2 Getting Started
			h5 Set up Trackful and get tracking in minutes
	section.module.step
		.contain
			.grid-row
				.xs-12
					h4 #[span 1] Installation
				.xs-12.m-6
					pre
						code &lt;script src=&quot;/path/to/trackful.min.js&quot;&gt;&lt;/script&gt;
				.xs-12.m-6
					p Get the #[a(href="/download", target="_blank", data-track="Download - GS") latest version] of Trackful.min.js and include it in just before the #[code &lt;/body&gt;] tag of your HTML markup. Include Trackful.min.js on each page you want to track.
	section.module.step
		.contain
			.grid-row
				.xs-12
					h4 #[span 2] Create your application key
				.xs-12
					p #[a(data-modal="in") Log in] and navigate to #[span.text-dark /create/key] to create a #[a(href="/create/key") new key]. Insert an appropriate name and the full URL of your website, make sure you include the protocol (e.g http/https) and port if you're using one. When all is validated you'll be redirected to your application overview.
					br
					p The key can be found in the web address of the page #[code /key/{your_key}] or in the info bar of the dashboard:
					.gs_key
						img(src="/images/get_started-key.png")
	section.module.step
		.contain
			.grid-row
				.xs-12
					h4 #[span 3] Initialise Trackful
				.xs-12.m-6
					pre
						code window.TRACKFUL_KEY = "ByJTiOWHx"
				.xs-12.m-6
					p Copy the key from step 2 and declare it as a global variable on the #[code window] object just before Trackful.min.js is called.
	section.module.step.final
		.contain
			.grid-row
				.xs-12
					i.ion-ios-checkmark.text-green
					h4 That's it. You're all set up!
					p You can now continue with the keys' dashboard to view realtime tracking, check out the #[a(href="/docs") Docs] if you need further help.
	include ../static/authmodal.pug
	script(src='/js/app.js')
	script.
		let opt = {}
	include ../static/homefooter.pug
