extends ../layout

block content
	-var renderfooter = true
	include ../static/homenav.pug
	section.module.hero
		.contain
			h2 Web analytics and UI tracking done simple
			h6 Track page hits and each element click on every page you have tracking activated on. All data is sent in real time and is visualied every hour. See your progress escalate, it only takes a few seconds to set up a new application.
			.button-group
				a.button.primary.large(data-modal="up") Get started, it's free
				small v1.0.1 / 2016-12-24
	section.module.hasimg
		.contain
			.grid-row
				.xs-12.m-6
					h4 #[i.ion-ios-analytics.text-yellow] Track things that matter
					h6 Initialise the tracker on pages you want to track or just have it in the footer of your single page application. Attach data bindings to all elements you want to track clicks on. Integrate as many Watch applications as you need to need if you want to split up your data.
					h4 #[i.ion-ios-stopwatch-outline.text-red] Performance obsessed
					h6 You only notice speed when it isn't there. Good, because the only thing you'll notice are your stats going up in real time. With a robust, high performance database such as RethinkDB, ensure all tracking data transmitted by your users are recieved and stored safely on our servers.
				.xs-12.m-6.heroimg
					img(src="/images/hero_clicks.png")
	section.module.bg
		.contain
			.grid-row
				.xs-12.m-6
					h4 #[a Getting started #[i.ion-ios-arrow-forward]]
					h6 Learn more about how to get started with Watch. We'll cover the basics and get you started with a new application in no time.
				.xs-12.m-6
					h4 #[a Need support? #[i.ion-ios-arrow-forward]]
					h6 Take a look and get coding! Our documentation covers all you need to know to get an app up and running in minutes.

	.modal.log_sign
		a.close(data-modal)
			i.ion-ios-close-empty
		.overlay
			.box#up
				.box-body
					h5 Create an account
					p Creating a Watch account is simple. Just sign in with your Twitter or Github account and your details will be pulled straight through.
				.box-footer
					.buttons
						a.button.primary.block(href="/auth/login/twitter") #[i.ion-social-twitter] Sign up with Twitter
						a.button.white.block(href="/auth/login/github") #[i.ion-social-github] Sign up with Github
						p Already have an account? #[a Sign in]
			.box#in
				.box-body
					h5 Welcome back!
					p Sign into your account below:
				.box-footer
					.buttons
						a.button.primary.block(href="/auth/login/twitter") #[i.ion-social-twitter] Sign in with Twitter
						a.button.white.block(href="/auth/login/github") #[i.ion-social-github] Sign in with Github
						p Don't have an account? #[a Sign up]

	script(src='/js/app.js')
	script.
		let opt = {}
	include ../static/homefooter.pug
