extends ../layout

block content
	-var renderfooter = true
	include ../static/homenav.pug
	section.module.hero
		.contain
			h2 Web analytics and UI tracking done simple
			h6 Analyse and improve the structure of your web platform by tracking how customers use it. It only takes a few seconds to sign up, create an application and get tracking, plus it's absolutely free.
			.button-group
				a.button.primary.large(data-modal="up") Get started, it's free
				small v1.0.1 / 2016-12-24
	section.module.bg.o_h
		.contain
			.grid-row
				.xs-12.m-6
					h4 Extensive analytics for your platform
					p Sort your users into groups by device or country and visualise their actions on your website. Watch offers realtime tracking for any website and with it being dead easy to set up, making it an ideal analytics tool for beginner to expert developers.
				.xs-12.m-6.low
					#trackers
						ul#devices
							li.header #[h5 Devices #[span &nbsp;/ page hit]]
								div.search #[i.ion-ios-search-strong] #[.filter.hidden(contenteditable="true")]
									li desktop/Other #[span 234]
									li phone/iPhone #[span 181]
									li phone/iPod #[span 48]
									li tablet/iPad #[span 143]
				.grid-row.types
					.xs-12.s-6.m-3
						h5 #[i.ion-android-hand.yellow] Element clicks
						p Keep track of what your users are clicking. Edit your HTML to choose what to track.
					.xs-12.s-6.m-3
						h5 #[i.ion-ios-pulse-strong.purple] Page hits
						p Simply initiate Watch.js on each page you want and it'll be added to the watchlist.
					.xs-12.s-6.m-3
						h5 #[i.ion-android-globe.blue] Top countries
						p Group your users by country to see where most visitors originate from.
					.xs-12.s-6.m-3
						h5 #[i.ion-android-phone-landscape.teal] Device type
						p Are your visitors viewing your site from a desktop, tablet, phone or even a car? Track it!

	section.module.hasimg
		.contain
			.grid-row
				.xs-12.m-6.heroimg
					img(src="/images/chart-tc-t.png")
					img(src="/images/chart-ph-t.png")
				.xs-12.m-6
					h4 Performance obsessed
					p You only notice speed when it isn't there. Good, because the only thing you'll notice are your stats going up in real time. With a robust, high performance database such as RethinkDB, ensure all tracking data transmitted by your users are picked up and stored securely on our servers.


	section.module.bg
		.contain
			.grid-row
				.xs-12.m-6
					h4 #[a(href="/getting-started") Getting started #[i.ion-ios-arrow-forward]]
					p Learn more about how to get started with Watch. We'll cover the basics and get you started with a new application in no time.
				.xs-12.m-6
					h4 #[a Need support? #[i.ion-ios-arrow-forward]]
					p Take a look and get coding! Our documentation covers all you need to know to get an app up and running in minutes.

	include ../static/authmodal.pug

	script(src='/js/app.js')
	script.
		let opt = {}
	include ../static/homefooter.pug
