extends ../layout

block content
    -var renderfooter = true
    header.nav
        .contain
            a.logo(href="/")
                img(src="/images/logo_dark.png")
            include ../static/homenav.pug
    section.module.hero
        .contain
            .grid-row
                .xs-12.m-6.breakpoint-s-center
                    h1 Web analytics and UI tracking done simple
                    p Analyse and improve the structure of your web platform by tracking how your visitors use it. You don't need to create an account, just sign in with an integration. It's absolutely free.
                    .button-group
                        a.button.primary.large(data-modal="in") Get started now - for free #[i.ion-arrow-right-c]
                        small v1.0.1 / 2016-12-24
                .xs-12.m-6.infochart.breakpoint-s-hide
                    img(src="/images/infochart.png")

    section.module.o_h
        .contain
            .grid-row
                .xs-12.m-7
                    h3 Realtime analytics for your platform
                    p Sort your visitors into groups by device or country and visualise current actions on your website. Trackful offers realtime tracking for your web platform and with it being dead easy to set up, it's an ideal analytics tool for beginner to expert developers.
                .xs-12.m-5.low
                    #trackers
                        ul#devices
                            li.header #[h5 Devices #[span &nbsp;/ page hit]]
                                div.search #[i.ion-ios-search-strong] #[.filter.forcehidden(contenteditable="true")]
                            li desktop/Other #[span 234]
                            li phone/iPhone #[span 181]
                            li phone/iPod #[span 48]
                            li tablet/iPad #[span 143]

    section.module.types.bg-grad
        .contain
            .grid-row.text-center
                .xs-12
                    h3 What can I track?
                    p In this first release several variables can be tracked, such as element clicks, page hits and visitor information; including device type and their country of origin. In the next few releases of Trackful, average session times will be tracked, along with user inputs from search &amp; text fields.
            .grid-row
                .xs-12.m-6.type
                    h5 #[i.ion-clock] Session time
                    p All free users have access to the average session time across all enabled pages.
                .xs-12.m-6.type
                    h5 #[i.ion-stats-bars] User activity
                    p Access to a feed of all recent activity happening on your platform.
                .xs-12.m-6.type
                    h5 #[i.ion-android-hand] Element clicks
                    p Keep track of what your users are clicking. Edit your HTML to choose what to track.
                .xs-12.m-6.type
                    h5 #[i.ion-ios-pulse-strong] Page hits
                    p Simply initiate Trackful.js on each page you want and it'll be added to the watchlist.
            .grid-row
                .xs-12.m-6.type
                    h5 #[i.ion-android-globe] Top countries
                    p Group your users by country to see where most visitors originate from.
                .xs-12.m-6.type
                    h5 #[i.ion-android-phone-landscape] Device type
                    p Are your visitors viewing your site from a desktop, tablet, phone or even a car? Track it!

    section.module.plan-info
        .contain
            .grid-row
                .xs-12.m-4.pf_po
                    h5 Performance Obsessed
                    p Using state of the art databases, ensure all tracking data is picked up and stored safely.
                .xs-12.m-4.pf_bd
                    h5 Beautifully Designed
                    p Trackful was built with the user in mind, a simple and clean UI will help you focus on what matters.
                .xs-12.m-4.pf_ls
                    h5 Live Statistics
                    p Everything on your dashboard updates automatically, so you'll never need to refresh.

    section.module.bg.pre-footer
        .contain
            .grid-row
                .xs-12.m-6.pf_gt
                    h5 #[a(href="/getting-started") Getting started #[i.ion-ios-arrow-forward]]
                    p Learn more about how to get started with Trackful. We'll cover the basics and get you started with a new application in no time.
                .xs-12.m-6.pf_ed
                    h5 #[a(href="/docs") Explore the docs #[i.ion-ios-arrow-forward]]
                    p Our documentation covers all you need to know to get an application key set up and running in minutes to data analysis and manipulation.

    include ../static/authmodal.pug

    script.
        let opt = {}
    include ../static/homefooter.pug
