extends ../layout

block content
  .activekeys
    h6.sub.text-green Active applications
    table.table.basic
      thead
        tr
          th Name
          th Domain
          th Key Id
          th
      tbody
        if keys
          each key in keys
            tr
              td=key.name
              td
                a(href=`http://${key.domain}`, target="_blank")=key.domain
              td=key.id
              td
                a(href=`/key/${key.id}`) View
