extends ../layout

block content
	- var maintitle = "Your keys"
	- var sub = "Applications"
	.contain
		include ../static/nav.pug
		section#keys
			.activekeys
				h6.sub.text-green Active applications
				if keys
					each key in keys
						a.record(href="/key/" + key.id)
							.float-left
								h6 #{key.name}
								small #{key.domain}
							span /#{key.id} #[i.ion-ios-arrow-forward]
