extends ../layout

block content
	a.tra(data-track="Account") Account
	a.tra(data-track="Root") Root
	a.tra(data-track="Contact") Contact
	a.tra(data-track="Options") Options
	a.tra(data-track="Sign in") Sign in
	a.tra(data-track="Log out") Log out
	script(src='/js/trackful.js')
