extends ../layout

block content
	a.tra(data-watch="Account") Account
	a.tra(data-watch="Root") Root
	a.tra(data-watch="Contact") Contact
	a.tra(data-watch="Options") Options
	a.tra(data-watch="Sign in") Sign in
	a.tra(data-watch="Log out") Log out
	script(src='/js/watch.js')
